@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-size: clamp(2rem, 7vw, 12rem);
  line-height: 1.3;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: -5px;
}
.h1 {
  font-size: clamp(3rem, 4vw, 6.25rem);
  line-height: 1.1;
}
.h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1.1;
}
.h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  line-height: 1.1;
}
.h4 {
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  line-height: 1.1;
}
.h5 {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  line-height: 1.1;
}
.paragraph {
  font-size: clamp(0.9rem, 1vw, 1rem);
  line-height: 1.4;
  font-weight: 300;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shadowInset {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.grider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
}
.grider2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.textTransparent1 {
  color: transparent;
  text-shadow: 0 0 5px #0000001a;
  color: white;
  text-shadow: 1px 1px 0.5px black, 0 0 2px blue, 0 0 5px darkblue;
}
